*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(kepek/hatter.jpg);
}

header{
    background-image: url(kepek/fejlec.jpg);
}

.egesz{
    margin: auto;
    background-color: white;
    width: 80%;
}

.main{
    width: 100%;
    gap: 0 20px;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
}

nav a{
    background-color: rgb(86, 154, 210);
    margin: 2px;
    padding: 10px;
    width: 160px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
}

header{
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

thead{
    background-color: lightblue;
}

.kek{
    background-color: lightblue;
}

.szoveg{
    padding: 20px;
    border: 2px solid lightgrey;
}

.szoveg h4, p{
    padding: 5px;
}

.szoveg p{
    text-align: justify;
}

.szoveg a{
    margin-top: 20px;
    display: block;
}

footer{
    background-color: rgb(73, 162, 245);
    text-align: center;
    padding: 10px;
    height: 40px;
    width: 100%;
}